body {
  background-image: url('./supporting/images/taurus_the_bull.jpg');
  background-size: 100vw;
  background-repeat:no-repeat;
  color: white;
}

#find-button {
  color:black;
}

#stock-input {
  color:black;
}

.add-button {
  color:black;
  background-color:white;
}

.list-data {
  color: black;
}

