body {
  /*background-image: url('./supporting/images/taurus_the_bull.jpg');*/
  background-image:url('./supporting/images/city_image.jpeg');
  background-size:100vw;
  background-repeat:no-repeat;
  color: white;
}

#find-button {
  /*height:27px;*/
  color:black;
}

#stock-input {
  color:black;
}

.add-button {
  color:black;
  background-color:white;
}

.stocks-list {
  text-align:center;
  margin-left:5px;
}

.stocks-list-title {
  text-align:center;
  margin:50px;
}

.list-data {
  color:black;
  margin-left: 10px;
}
